/* CSS BY YOUR NAME */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

p{
    line-height: 1.5;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
@media screen and (min-width: 400px){
    body{
        width: 100%;
        font-family: Inter;
    }

    header{
        background-color: #000000;
        display: flex;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 10px 10px 5px 10px;
        box-shadow: 0 5px 5px #007BFF;
    }

    header img{
        height: 40px;
    }

    h1{
        color: #007BFF;
        font-size: 25px;
        font-weight: 700;
        padding-left: 10px;
    }

    /* Nav */
    .nav {
        position: relative;
        background-color: #000000;
        padding: 10px;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }

    .hamburger {
        font-size: 30px;
        color: #EAEAEA;
        cursor: pointer;
        user-select: none;
        padding-left: 150px;
    }

    .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        background-color: #000000;
        top: 100%;
        right: 0;
        width: 100px;
        z-index: 1000;
    }

    .nav-menu li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #007BFF;
        background-color: #000000;
    }

    .nav-menu li a:hover {
        background-color: #007BFF;
        color: #333333;
    }

    .nav:hover .nav-menu,
    .hamburger:hover + .nav-menu {
        display: block;
    }



    main{
        width: 100%;
    }

    /* INOV */
    .inov  {
        height: 10px;
        margin-top: 2px;
        width: 100%;
        
    }

    .inov h2{
        color: #EAEAEA;
        font-size: 1.5em;
        font-weight: 500;
        padding: 250px 10px 20px 10px;
    }

    .inov p{
        color: #EAEAEA;
        font-size: .79em;
        padding: 10px 20px;
    }

    .inov button{
        width: 190px;
        height: 50px;
        border-radius: 5px;
        font-size: .9em;
        font-weight: 590;
        background-color: #007BFF;
        color: #EAEAEA;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .inov button:hover {
        background-color: orange;
    }



    .firstContainer,.secondContainer, .thirdContainer, .fourthContainer, .fifthContainer{
        padding: 20px 5px 10px 10px;
        width: 90%;
    }

    /* firstContainer */
    .fourthContainer{
        background-color: #EAEAEA;

    }
    .firstContainer h2{
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .firstContainer p{
        font-size: 12px;
        padding-left: 10px;
    }

    /* secondContainer */
    .secondContainer h2{
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .secondContainer .container{
        background-color: #007BFF;
        color: #EAEAEA;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .secondContainer .container h3{
        font-size: 14px;
        font-weight: 600;
        padding: 20px 0 10px 10px;
    }

    .secondContainer .container p{
        font-size: 12.5px;
    }

    /* thridContainer */
    .thirdContainer{
        background-color: #007BFF;
        color: #EAEAEA;
        width: 100%;
    }

    .thirdContainer h2{
        font-size: 1.3em;
        font-weight: 600;
        padding: 20px 10px 20px 20px;
    }

    .thirdContainer p{
        font-size: 13px;
        padding: 10px 10px;
        width: 85%;
    }

    .thirdContainer h3{
        font-size: 1.3em;
        font-weight: 600;
        padding: 10px 10px 20px 10px;
    }

    .thirdContainer table{
        width: 85%;
        text-align: center;
        font-size: 11px;
    }

    table, th, tr, td{
        border: 1px solid #333333;
        border-collapse: collapse;
        padding: 1em 1.5em;

    }

    th, tr:nth-child(even){
        background-color: #000000;
    }

    tr:nth-child(odd){
        background-color: #333333;
    }


    /* fourthContainer */
    .fourthContainer{
        background-color: #007BFF;
        color: #EAEAEA;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .fourthContainer h2{
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .fourthContainer #bar-chart{
        width: 90%;
        padding-bottom: 10px;
    }

    .fourthContainer #bar-chart .bar{
        width: 40px;
        height: 10%;
    }

    /* fifthContainer */
    .fifthContainer {
        background-color: #000000;
        color: #EAEAEA;
        padding-bottom: 20px;
        width: 100%;
    }

    .fifthContainer h2{
        font-size: 1.3em;
        font-weight: 600;
        padding: 10px 10px 20px 20px;
    }

    .fifthContainer p{
        font-size: 15px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 95%;
    }

    form label{
        font-size: 10px;
        margin-left: 14px;
    }

    form input{
        width: 85%;
        height: 25px;
        margin: 0 10px 10px 10px;
    }

    form input#help{
        height: 100px;
    }

    .fifthContainer input{
        border: 2px solid #007BFF;
    }

    .fifthContainer input.button{
        width: 87%;
        height: 40px;
        border-radius: 5px;
        font-size: .9em;
        font-weight: 600;
        background-color: #007BFF;
        color: #EAEAEA;
        border: none;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .fifthContainer input.button:hover {
        background-color: orange;
    }


    /* footer */
    footer{
        background-color: #000000;
        color: #EAEAEA;
        padding-bottom: 20px
    }

    footer .container p{
        font-size: 10px;
        text-align: center;
        
    }
}


/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
.inov {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
img {
    content: "";

    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.3s ease;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width: 800px){
    
    .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-left: 240px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex; 
        justify-content: space-around;
        width: auto; 
        position: static;
        background-color: transparent; 
        margin: 0; 
    }

    .nav-menu li {
        list-style: none;
    }

    .nav-menu li a {
        padding: 10px 15px;
        color: #007BFF;
        text-decoration: none;
        font-weight: 700;
        font-size: 25px;
    }

    .nav-menu li a:hover {
        background-color: #007BFF;
        color: #333333;
        display: none;
    }

    /* Inov*/
    .inov h2{
        padding-top: 320px;
    }

    .inov p{
        font-size: 16.8px;
        padding-left: 20px;
        width: 90%;
    }

    .inov button{
        width: 270px;
        margin-top: 10px;
        font-size: 1.4em;
    }

    /* 1st con*/
    .firstContainer h2,.secondContainer h2,.thirdContainer h2, .thirdContainer h3, .fourthContainer h2, .fifthContainer h2{
        font-size: 1.8em;
    }

    .firstContainer p{
        font-size: 15px;
    }
    
    /* 2nd con */
    .secondContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        padding-bottom: 50px;
        width: 95%;
        padding-left: 15px;
    }

    .secondContainer > div{
        box-sizing: border-box;
        width: 100%;
    }

    .secondContainer h2{
        grid-column: span 2;
    }

    .secondContainer .container h3{
        line-height: 1.5;
        font-size: 23px;
        width: 80%;
    }

    .secondContainer .container p{
        font-size: 18px;
    }

    .secondContainer .container{
        height: 180px;
        margin-top: 0;
    }

    .secondContainer > div:nth-child(n+6){
        height: 220px;
    }


    /* 3rd & 4th con */
    .thirdContainer{
        width: 100%;
        padding-left: 20px;
    }

    .side{
        display: flex;
        gap: 5px;
        align-items: flex-start;

    }
   

    .thirdContainer .thirdContainer{
        width: 800px;
        height: 350px;
    }

    .thirdContainer .thirdContainer td,.thirdContainer .thirdContainer th{
        width: 1000px;
        padding: 19px 16.5px;

    }

    .thirdContainer .fourthContainer div#bar-chart{
        width: 300px;
        height: 250px;
    }
    
    .fourthContainer{
        width: 100%;
    }


    /* 5th con*/
    .fifthContainer{
        padding: 0 20px 20px 20px;
    }

    .fifthContainer h2{
        padding-top: 20px;
    }

    .fifthContainer label{

        padding-bottom: 10px;
    }

    .fifthContainer input{
        margin-right: 9%;
        width: 85%;
    }

    .fifthContainer input.button{
        width: 90%;
    }

    
    /* footer */
    footer .container p{
        font-size: 12px;
    }

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

}
/* MEDIA QUERIES (LARGE) */
@media screen and (min-width: 1024px){
    header{
        padding-left:30px;
    }

    .nav{
        padding-left: 440px;
    }

    .inov p{
        width: 80%;
    }

    .inov button{
        width: 100%;
        font-size: 22px;
        padding: auto 50px;
    }

    .firstContainer,.secondContainer, .thirdContainer, .fifthContainer{
        padding-left: 30px;
    }

    /* 2nd con */
    .secondContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        height: 430px;
    }

    .secondContainer h2{
        grid-column: span 3;
    }

    .secondContainer .container{
        height: 160px;
    }

    .secondContainer .container h3{
        font-size: 20px;
        width: 90%;
    }

    .secondContainer .container p{
        font-size: 14px;
    }
    .secondContainer > div:nth-child(n+5){
        height: 200px;
    }

    /* 3rd & 4th con */
    .thirdContainer .fourthContainer div#bar-chart{
        width: 500px;
        height: 250px;
    }

    /* form */
    form{
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }

    form div.lineBox{
        width: 100%;
    }
    
}